.footer {
    width: 100%;
    border-top: 1px solid #c7c4c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Uncommented */
    /* background-color: #f1f1f1;  */
    
    min-height: 200px;
    height: auto; 
    
    /* For sticky footer behavior */
    margin-top: auto;
}