.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    gap: 20px;
}

.portrait {
    flex-shrink: 0; /* Prevent shrinking */
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg{
    width: 100%;
    height: 100%;
    object-fit: contain; /* Crop to fill the circle */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.info h1{
    font-size: 2.5rem;
    color: #333;
}

.info h2{
    margin-top: 40px;
    font-size: 2rem;
    color: #555;
}

.myInfo {
    margin-top: 20px;
    text-align: justify;
}

.myInfoText {
    margin: 12px auto;
    text-align: justify;

}

@media (max-width: 1200px){
    .home{
        flex-direction: column;
        align-items: center;
    }
    .portrait {
        margin-bottom: 20px;
        width: 300px;
        height: 300px;
    }
    .info{
        align-items: center;
    }
}
